* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* outline: none; */
  cursor: default;
}

html,
body {
  background-color: rgb(242, 242, 242, 1);
  font-family: "Visby", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "Visby";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/visby/VisbyRegular.otf") format("otf");
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
