* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

html,
body {
  background-color: rgb(242, 242, 242, 1);
  font-family: "Visby", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "Visby";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/visby/VisbyRegular.otf") format("otf");
}

/* Hide arrows for all browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: none; /* Standard */
}
